.navbar {
    height: 65px;
    width: 100%;
    border-top: 0.05rem solid #dddddd;
    background-color: white;
    box-sizing: border-box;
    display: flex; /* 추가: 플렉스박스를 사용하여 자식 요소를 수평으로 배치 */
}

.nav-link {
    flex: 1; /* 추가: 각 링크를 균등하게 배치 */
    text-align: center;
    height: 45px;
    line-height: 45px; /* 수정: 높이와 맞게 라인 높이 조정 */
}

.active {
    color: #6271f5;
}

.inactive {
    color: #808080;
}
