.navbar {
    height: 65px;
    width: 100%;
    border-top: 0.05rem solid #dddddd;
    background-color: white;
    box-sizing: border-box;
    display: flex; 
    align-items: center; 
    padding: 3rem; 
    position: relative; 
}

.navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #cccccc; 
    border-radius: 1px; 
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 2rem; 
    height: 45px; 
}

.logo-image {
    height: 50px; 
    margin-right: 3rem; 
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    line-height: 45px; 
}

.nav-link {
    flex: 1; 
    text-align: center;
    height: 45px; 
    line-height: 45px;
    color: #808080; 
    text-transform: uppercase;
    font-size: 0.85rem; 
}

.nav-link div {
    padding: 0rem 0rem;
}

.active {
    color: #6271f5;
}

.inactive {
    color: #808080;
}

.nav-link:hover .inactive {
    color: #333; 
}
